# Node.js
node_modules/
package-lock.json

# MongoDB
.env


# Ignore compiled binaries (bin folder)
bin/

# Ignore public files
public/

# Ignore Roboto font
roboto/

# Ignore routes
routes/

# Ignore utils
utils/

# Ignore views
views/
